* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    background-color: rgb(226, 254, 245);
}

#preloader {
    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}

#preloader img {
    width: 300px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/******************
    header strats
******************/

.sticky {
    width: 100vw;
    background: rgb(15, 15, 31) !important;
    left: 0;
    position: fixed !important;
    z-index: 1;
    padding: 0 30px;
    top: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.navbar-default {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border: none;
}

.header {
    max-width: 1370px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background: url("../img/bg-hero.jpg"), rgb(33, 33, 33);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 15px 30px;
    position: relative;
}

.header .logo {
    font-size: 40px;
    color: orange;
    font-weight: 700;
}

.header .logo:hover {
    color: orange;
}

.header .logo .fa {
    margin-right: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    margin-top: 8px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: orange;
    background: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: orange;
    background: none;
}

.book {
    width: 150px;
    height: 40px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 13px;
}

.banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 120px;
}

.banner-1 {
    width: 50%;
}

.banner-1 h1 {
    font-size: 70px;
    color: #fff;
    font-weight: 600;
    margin-top: 120px;
    line-height: 80px;
}

.banner-1 p {
    color: #fff;
    font-size: 17px;
    padding-right: 40px;
}

.banner-1 .book {
    width: 220px;
    height: 55px;
    font-size: 18px;
    margin-top: 30px;
}

.banner-2 {
    width: 50%;
    overflow: hidden;
}

.banner-2 img {
    width: 100%;
    animation: rotet linear 50s infinite;
}

@keyframes rotet {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/******************
    header ends
    master-div strats
    mservices strats
******************/

.master-div {
    max-width: 1370px;
    background-color: #f3eded;
    margin: 0 auto;
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px 0;
}

section {
    width: 23%;
    background-color: #fff;
    padding: 40px 30px;
}

section .fa {
    font-size: 50px;
    color: orange;
}

section:hover .fa {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

section h5 {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    font-family: 'Jost', sans-serif;
    margin: 15px 0;
}

section p {
    font-size: 17.5px;
    font-family: 'Jost', sans-serif;
    /*normal font*/
}

section:hover {
    color: #fff;
    background-color: orange;
    transition: all 0.3s ease-in-out;
}

section:hover h5 {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

/******************
    services ends
    about strats
******************/

.about-img {
    padding: 0 50px;
}

.big {
    width: 50%;
}

.up-img,
.down-img {
    position: relative;
}

.small {
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 79px;
}

.big-1 {
    width: 48%;
    position: absolute;
    right: 0;
    top: 17px;
}

.small-1 {
    width: 35%;
    position: absolute;
    top: 17px;
    left: 93px;
}

.about-text {
    margin-top: 80px;
}

.about-text .abuot-us {
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    color: orange;
    font-weight: 700;
    position: relative;
}

.about-text .abuot-us::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: orange;
    top: 22px;
    left: 135px;
    display: inline-block;
}

.about-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-top: 0;
}

.about-text .fa {
    color: orange;
}

.about-text p {
    margin-top: 30px;
    font-size: 18px;
}

.count {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-left: 5px solid orange;
    margin-top: 20px;
    margin-bottom: 30px;
}

.counter {
    font-size: 45px !important;
    color: orange !important;
    margin-left: 15px;
}

.col h6 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-top: -8px;
}

.count-text {
    position: absolute;
    left: 100px;
    top: -22px;
}

.read-more {
    width: 180px;
    height: 55px;
    font-size: 20px;
    border: none;
    background-color: orange;
    color: #fff;
    border-radius: 3px;
}

/******************
     about ends
    Food menu strats
******************/

.food-menu {
    width: 100%;
    margin: 150px 0;
    text-align: center;
}

.food-menu h5 {
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    color: orange;
    font-weight: 700;
    position: relative;
}

.food-menu h5::before {
    content: ' ';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 2px;
    background-color: orange;
    margin-left: -70px;
}

.food-menu h5::after {
    content: ' ';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 2px;
    background-color: orange;
    margin-left: 20px;
}

.food-menu h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-top: 0;
}

.food-list {
    width: 30%;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.food-list .food .fa {
    font-size: 40px;
    color: orange;
    display: block;
    padding-right: 10px;
}

.food-list .food p {
    font-size: 15px;
    text-align: left;

}

.food-list .food h6 {
    color: #000;
    font-size: 17px;
    margin-top: -10px;
    font-weight: 700;
}

.food-list .food {
    display: flex;
    position: relative;
    cursor: pointer;
}

.menu-text {
    text-align: left;
    position: relative;
}

.menu-text h2 {
    font-size: 22px;
    color: #000;
    font-weight: 700;
    display: inline;
}

.menu-text h4 {
    font-size: 25px;
    color: orange;
    font-weight: 700;
    margin-top: 0px;
    display: inline;
    position: absolute;
    right: 15px;
}

.menu {
    margin-top: 20px;
}

.food {
    border-bottom: 1px solid transparent;
}

.border-bottom {
    border-bottom: 1px solid orange;
}

.menu-text hr {
    width: 100%;
    height: 1px;
    border-color: gray;
    margin-top: 10px;
}

.menu-text p {
    font-size: 17px;
    margin-top: -15px;
}

/***********************
     Food menu ends
    form-section strats
************************/

.form-img {
    padding-right: 0;
}

.form-pp {
    padding-left: 0;
}

.form-img img {
    width: 100%;
    height: 650px;
    padding-left: 0;
    padding-right: 0;
}

.form-part {
    padding: 30px 40px;
    background-color: rgb(15, 15, 31);
}

.form-part h1 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0;
}

.int {
    height: 55px;
    margin-top: 12px;
    border-radius: 2px;
    font-size: 18px;
    color: #000;
}

.int-1 {
    margin-left: 12px;
}

.int-2 {
    width: 100% !important;
    height: 100px !important;
    margin-top: 12px;
    border-radius: 2px;
}

.btn {
    width: 100%;
    height: 55px;
    color: #fff;
    font-size: 17px;
    margin-top: 12px;
    display: block;
    background-color: orange;
    border-radius: 2px;
    outline: none;
}

.btn:hover {
    color: #fff;
    background-color: rgb(255, 174, 24);
}

input:focus {
    border: 1px solid orange;
}

/***********************
     form-section ends
     members strats
************************/

.members {
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.members h5 {
    font-family: 'Ephesis', cursive;
    font-size: 35px;
    color: orange;
    font-weight: 700;
    position: relative;
}

.members h5::before {
    content: ' ';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 2px;
    background-color: orange;
    margin-left: -70px;
}

.members h5::after {
    content: ' ';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 2px;
    background-color: orange;
    margin-left: 20px;
}

.members h1 {
    font-size: 45px;
    font-weight: 700;
}

.shanu {
    height: calc(350px + 45px);
}

.team {
    width: 100%;
    height: calc(361px - 45px);
    padding: 20px 30px;
    background-color: #fff;
    overflow: hidden;
    margin-top: auto;
    transition: all 0.3s ease;
}

.team:hover {
    height: 361px;
    padding-bottom: 0px;
}

.team .iii img {
    width: 100%;
    transition: all 0.3s ease;
}

.team:hover .iii img {
    scale: 1.3;
}

.team .iii {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.team .iii img {
    height: 100%;
    transition: all 0.3s ease;
}

.team h2 {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.team p {
    font-size: 16px;
    margin-bottom: 22px;
}

.member .fa {
    padding: 13px;
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
    background-color: orange;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/***********************
     membersn ends
      footer strats
************************/

.footer {
    background-color: rgb(15, 15, 31);
    padding: 100px 25px 0;
    color: #fff;
}

.footer h5 {
    font-family: 'Ephesis', cursive;
    font-size: 35px;
    color: orange;
    font-weight: 700;
    position: relative;
    margin-bottom: 25px;
}

.footer h5::after {
    content: ' ';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 2px;
    background-color: orange;
    margin-left: 20px;
}

.footer .r1 a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.footer .r1 a:hover {
    letter-spacing: 1.7px;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}

.footer .r1 span {
    margin-right: 10px;
    padding-bottom: 10px;
}

.footer .part-1 span {
    font-size: 20px;
    margin-right: 10px;
}

.footer .part-1 p {
    font-size: 16px;
}

.footer .social {
    font-size: 20px;
    margin-bottom: 30px;
}

.footer .social .fa:hover {
    color: orange;
    background-color: #fff;
    transition: all ease 0.2s;
}

.footer .social .fa {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;
    margin-top: 15px;
    margin-left: 3px;
}

.footer .r3 p {
    font-size: 19px;
}

.footer .r3 h6 {
    font-size: 16px;
    margin-bottom: 25px;
}

.footer .r4 {
    position: relative;
}

.footer .r4 p {
    font-size: 17px;
    letter-spacing: 0.5px;
}

#email {
    width: 100%;
    height: 60px;
    border: 1px solid orange;
    font-size: 18px;
}

::placeholder {
    padding-left: 10px;
}

.footer .r4 .signup {
    background-color: orange;
    padding: 5px 10px;
    position: absolute;
    border: none;
    right: 20px;
    height: 40px;
    bottom: 10px;
    font-size: 17px;
}

.footter-last p {
    font-size: 17px;
}

.footter-last a {
    color: #fff;
    padding-bottom: 4px;
    border-bottom: px solid #fff;
}

.footter-last a:hover {
    text-decoration: none;
}

.footter-last ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.footter-last ul li a {
    color: #fff;
    text-decoration: none;
    border: none;
    text-align: right;
    margin-right: 10px;
    border-right: 1px solid #fff;
    padding-right: 10px;
    font-size: 18px;
}

/***********************
     footer ends
      other page strats
************************/

.home-banner {
    padding-top: 30px;
}

.home {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.home h1 {
    font-size: 65px;
    font-weight: 700;
    margin-top: 50px;
}

.home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 17px;
    margin-top: 20px;
}

.home-page .ore {
    color: orange;
}

.home-member {
    margin-top: 150px;
}

.food-pt {
    margin-top: 30px;
}

.top-ser{
    padding-top: 0px;
}

.expl{
    text-align: center;
    margin: 0 auto;
}

.expl h5 {
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    color: orange;
    font-weight: 700;
    position: relative;
}

.expl h5::before {
    content: ' ';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 2px;
    background-color: orange;
    margin-left: -70px;
}

.expl h5::after {
    content: ' ';
    position: absolute;
    top: 24px;
    width: 50px;
    height: 2px;
    background-color: orange;
    margin-left: 20px;
}

.expl h1 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-top: 0;
}

.booking{
    margin-bottom: 50px;
}

.our-h{
    margin-top: -100px;
    margin-bottom: 60px;
}

.loack{
    width: 100%;
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.loack h4{
    font-size: 35px;
    color: orange;
    font-weight: 700;
    font-family: 'Ephesis', cursive; 
}

.loack span{
    color: orange;
    font-size: 20px;
    font-weight: 800;
    margin-right: 10px;
}

.loack p{
    font-size: 17px;
}

.new-form{
    padding-top: 0;
    background: none;
}

.iinntt{
    height: 200px !important;
}

.new-row{
    margin-bottom: 90px;
}

.location{
    width: 50%;
    height: 450px;
}

.location iframe{
    width: 100%;
    height: 100%;
}